body {
  background-color: #7469B6;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #ffffff;
  width: 400px;
  border-radius: 16px;
  padding: 10px;
}

.row {
  display: flex;
}